*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgBody: rgb(73, 73, 73);
    --bgCalculator: rgb(125, 56, 236);
    --bgDisplay: rgb(187, 187, 187);
    --bgButton: white;
    --bgNumberButton: rgb(202, 202, 202);
}

body{
    background-color: var(--bgBody);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: var(--bgCalculator);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #0009,
                0px 4px 10px #0005;
}

.display{
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    background-color: var(--bgDisplay);
    font-family: Consolas;
    text-align: right;
}

.container-buttons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.container-buttons > button{
    border-radius: 10px;
    outline-style: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: var(--bgButton);
    font-size: 20px;
    cursor: pointer;
}

.container-buttons > button:active{
    transform: scale(0.9);
}

.container-buttons [id*=key] {
    background-color: var(--bgNumberButton);
}